.container h1 {
  font-weight: 800;
  margin-top: 5%;
  animation: slideInLeft 1s both;
}

.container p {
  font-size: 6vw;
  font-weight: 500;
  margin-top: 3%;
  animation: slideInLeft 1s both;
}

.illustration {
  animation: zoomIn 1s both;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@media only screen and (min-width: 786px) {
  .container h1 {
    font-weight: 800;
    margin-top: 1%;
    font-size: 2.5vw;
  }

  .container p {
    font-size: 1.6vw;
  }

  .illustration {
    width: 60%;
    float: right;
    animation: zoomIn 1s both;
  }

  .text {
    width: 40%;
    text-align: left;
    padding-top: 4%;
  }
}
